@page
@model HRManager.Pages.Departamentos.IndexModel
@{
    ViewData["Title"] = "Index Departamento";
}

<h1>Index Departamento</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Departamentos[0].NombreDepartamento)</th>
            <th>@Html.DisplayNameFor(model => model.Departamentos[0].Ubicacion)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departamentos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NombreDepartamento)</td>
                <td>@Html.DisplayFor(modelItem => item.Ubicacion)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdDepartamento" class="btn btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.IdDepartamento" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
