@page
@model HRManager.Pages.Shared.Nomina.IndexModel
@{
    ViewData["Title"] = "Index Nomina";
}


<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<h1> Index Nomina</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nomina[0].IdEmpleado_fk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomina[0].PeriodoInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomina[0].PeriodoFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomina[0].TotalPagado)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Nomina)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleado_fk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodoInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodoFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPagado)
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdNomina" class="btn btn-warning">
                        Edit
                    </a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.IdNomina" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

